@model pAspFinal.ViewModels.AjouterQuestionViewModel

@{
    ViewData["Title"] = ViewBag.Titre;
}

<h1>@ViewBag.Titre</h1>

<h2>Question @Model.Question.Id</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="formulaireQuestion" asp-action="Ajouter">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Question.Id" />
            <div class="form-group">
                <label asp-for="Question.Titre" class="control-label">Le titre de la question: </label>
                <input asp-for="Question.Titre" class="form-control" aria-required="true" />
                <span asp-validation-for="Question.Titre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question.Commentaire" class="control-label"></label>
                <input asp-for="Question.Commentaire" class="form-control" />
                <span asp-validation-for="Question.Commentaire" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question.ParDefault" class="control-label"></label>
                <input asp-for="Question.ParDefault" class="form-control" />
                <span asp-validation-for="Question.ParDefault" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question.ParentID" class="control-label"></label>
                <input asp-for="Question.ParentID" class="form-control" aria-required="false" />
                @*<select asp-for="Question.ParentID" class="form-control" asp-items="ViewBag.ParentID"></select>*@
            </div>
            <div class="form-group">
                <label asp-for="Question.TypeID" class="control-label"></label>
                <input asp-for="Question.TypeID" class="form-control" aria-required="true" />
                @*<select asp-for="Question.TypeID" class="form-control" asp-items="ViewBag.TypeID"></select>*@
            </div>
            <div class="form-group">
                <label asp-for="Question.SectionID" class="control-label"></label>
                <input asp-for="Question.SectionID" class="form-control" aria-required="true" />
                @*<select asp-for="Question.SectionID" class="form-control" asp-items="ViewBag.SectionID"></select>*@
            </div>
            <div id="Choix">
                @*Référence https://stackoverflow.com/questions/53813579/populate-a-listobject-in-my-model-from-the-view-asp-net-core - ryan*@
            @if (Model.Question.Id != 0) 
            {
                
                @for (int i = 0; i < Model.Question.Choix.Count; i++)
                {

                    <div class="form-group">
                        <label class="control-label items">Réponse/Choix : @i</label>
                        @Html.EditorFor(x => x.Question.Choix[i].Options)
                            @*<input type="text" asp-for="Question.Choix" value="@c.Options" required class="items form-control" />*@
                    </div>
                }
            }
            @if (Model.Question.Id == 0)
            {
                <div class="form-group">
                    <label class="control-label">Réponse/Choix</label>
                        <input type="text" asp-for="Question.Choix" name="Question.Choix[0]" required class="items form-control" />
                </div>
            }
            </div>
            <div class="form-group">
                <input type="submit" value="@ViewBag.Titre" class="btn btn-primary" />
            </div>
        </form>
        <div>
            <button id="ajoutChoixChamp" class="btn btn-secondary">Ajouter un choix</button>
        </div>
        <div>            
            <a asp-action="Liste">Retoure à la liste des questions</a>
        </div>

    </div>

    <div class="col-md-3">
        <table class="table">
            <thead>
                <h3 class="h5">Type</h3>
                <tr>
                    <th>
                        Nom
                    </th>
                    <th>
                        Id
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Types)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nom)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                    </tr>
                }
            </tbody>
    </div>
    <div class="col-md-3">
        <table class="table">
            <thead>
                <h3 class="h5">Section</h3>
                <tr>
                    <th>
                        Nom
                    </th>
                    <th>
                        Id
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Sections)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nom)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div>
    <div class="col-md-4">
        <table class="table">
            <thead>
                <h3 class="h5">Liste des Questions</h3>
                <tr>
                    <th>
                        Titre
                    </th>
                    <th>
                        Id
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Questions)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Titre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                    </tr>
                }
            </tbody>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function(){
            $('#ajoutChoixChamp').click(function(e){
                e.preventDefault();
                var i = ($(".items").length)
                var nvChamp = $(' <label class="control-label">Réponse/Choix : '+i+'</label>' + 
                '<input type="text" name="Question.Choix[' + i + '].Options" class="items form-control"/>')
                $('#Choix').append(nvChamp);
            });
            @*$("#questionForm").submit(function () {

                var choix = [];
                $("input[name='nouveauChamp']").each(function () {
                    choix.push($(this).val());
                });

                var hiddenField = '<input type="hidden" name="Choix[0].Options" value=\'' + choixData + '\' />';
                $(this).append(hiddenField);
            });*@
        });
    </script>
}
