@model IEnumerable<pAspFinal.Models.Question>

@{
    ViewData["Title"] = "Liste";
}

<h1>Liste</h1>

<p>
    <a asp-action="Ajouter">Créer une nouvelle question.</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Commentaire)
            </th>
            <th>
                Par défaut
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Section)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Commentaire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParDefault)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parent.Titre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Section.Nom)
            </td>
            <td>
                <a asp-action="Modifier" asp-route-id="@item.Id">Modifier</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Supprimer" asp-route-id="@item.Id">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
